*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

analisi_dei_requisiti_v*.0.0.pdf
glossario.pdf
piano_di_qualifica_v*.0.0.pdf
norme_di_progetto_v*.0.0.pdf
verbale_interno_201*-**-**.pdf
verbale_esterno_201*-**-**.pdf

*.directory
*.DS_Store

02-RP/Esterni/Piano_di_progetto/piano_di_progetto_v1\.0\.0\.pdf
